@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Styles for the scrollbar in WebKit */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(82, 93, 194); /* Background color of the scrollbar track */
    border-radius: 30px; /* Border radius of the track */
}

::-webkit-scrollbar-thumb {
    background: #000000; /* Color of the scrollbar thumb */
    border-radius: 30px; /* Border radius of the thumb */
}
/* Global styles  */
* {
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    box-sizing: border-box; /* Use the border-box box-sizing model */
    text-decoration: none; /* Remove text decorations */
    color: white; /* Set the text color */
    font-size: 100%; /* Set the font size to 100% */
    background: #14141E; /* Set the background color */
    font-family: 'Poppins', sans-serif; /* Set the font */
    color: white; /* Set the text color */
}

a:hover{
    color:rgb(109, 54, 238); /* Set the text color */
}

/* Styles for the header */
.cabecalho {
    display: flex; /* Use a flex layout */
    flex-direction: row; /* Direction of the flex boxes */
    justify-content: space-between; /* Space items evenly with space at the ends */
    align-items: center; /* Align items vertically in the center */
    padding: 1em; /* Add padding */
    font-size: 0.9em; /* Set the font size */
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the header horizontally */
}

/* Styles for the header menu */
.cabecalho-menu {
    display: flex; /* Use a flex layout */
    gap: 2em; /* Spacing between menu items */
}

/* Styles for the header menu item name */
.cabecalho-menu-item-nome {
    font-size: 1.5em; /* Set the font size */
}

/* Styles for the content */
.conteudo {
    display: flex; /* Use a flex layout */
    flex-direction: row; /* Direction of the flex boxes */
    justify-content: space-around; /* Space items evenly */
    padding: 6em; /* Add padding */
    font-size: 0.9em; /* Set the font size */
}

/* Styles for the main title */
.conteudo-principal-escrito-titulo {
    font-size: 3em; /* Set the font size */
    color: #C18AFF; /* Set the text color */
}

/* Styles for the button */
.botao {
    border: none; /* Remove the border */
    background: rgb(109, 54, 238); /* Set the background color */
    padding: 1em; /* Add padding */
    border-radius: 2em; /* Set the border radius */
    width: 15em; /* Set the width */
    font-size: 0.8em; /* Set the font size */
    font-weight: 600; /* Set the font weight */
}

/* Styles for the 'decor' element */
#decor {
    text-decoration: overline; /* Set the text decoration to overline */
    color: rgb(109, 54, 238); /* Set the text color */
}

/* Styles for span elements */
span {
    color:rgb(109, 54, 238); /* Set the text color */
}

/* Styles for buttons */
button {
    text-align: center; /* Center the text */
}

/* Styles for social icons */
.socialIcons {
    display: flex; /* Use a flex layout */
}

.socialIcons a {
    padding: 6px; /* Add padding */
}

.socialIcons a:hover {
    color: blue; /* cor ao passar o mouse */
}

/* Styles for the slider container */
.slider {
    margin: 0 auto; /* Center the slider horizontally */
    width: 80%; /* Set the width */
    max-width: 750px; /* Set a maximum width */
    overflow: hidden; /* Hide overflow content */
    border: 2px solid #fff; /* Set border properties */
    border-radius: 10px; /* Set border radius */
    height: 350px; /* Set the height */
}

/* Styles for the slides container */
.slides {
    display: flex; /* Use a flex layout */
    transition: transform 0.5s ease-in-out; /* Add a transition effect */
    margin-top: -10px;
}

/* Styles for individual slides */
.slide {
    min-width: 100%; /* Set the minimum width */
    position: relative; /* Set the position to relative */
    transition: opacity 0.5s ease-in-out; /* Add a transition effect */
}

/* Styles for slide images */
.slide img {
    width: 100%; /* Set the width to 100% */
    display: block; /* Display as block */
    border-radius: 10px; /* Set border radius */
}

/* Styles for slide captions */
.caption {
    position: absolute; /* Set the position to absolute */
    top: 50%; /* Align to the top */
    left: 50%; /* Align to the left */
    transform: translate(-50%, -50%); /* Center the caption */
    color: #fff; /* Set the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Set the background color */
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Set border radius */
    font-size: 16px; /* Set the font size */
}

@keyframes slideAnimation {
    0% { transform: translateX(0); } 
    25% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    75% { transform: translateX(-100%); } 
    100% { transform: translateX(0); } 
}

.slides {
    animation: slideAnimation 16s infinite; 
}

/* Styles for screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    /* Reduce the size of elements for smaller screens */
    .cabecalho {
        padding: 0.5em; /* Reduce padding */
        font-size: 0.5em; /* Reduce font size */
    }

    .conteudo {
        padding: 3em; /* Reduce padding */
        font-size: 0.8em; /* Reduce font size */
    }

    .conteudo-principal-escrito-titulo {
        font-size: 2em; /* Reduce font size */
    }

    .botao {
        padding: 0.8em; /* Reduce padding */
        width: 12em; /* Reduce width */
        font-size: 0.7em; /* Reduce font size */
    }
    .slider{
        height: 175px;
    }
    .caption{
        font-size: 8px;
    }
}
